
.footer {
    display: flex;
    overflow: hidden;
    margin: 1em 0;
    align-items: center;
}

.left {
    padding: 1em;
    margin-right: auto;
}

.right {
    padding: 1em;
}

div.sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px!important;
}

div.both {
    background-image: url("../images/both.png");
}

div.asc {
    background-image: url("../images/asc.png");
}

div.desc {
    background-image: url("../images/desc.png");
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}